*{
    margin: 0px;
    padding: 0px;
}
a{  
    text-decoration: none; 
}
#area-cabeçalho a:link, #area-cabeçalho a:visited{
    font-weight: bolder;
    color: #fff;
    padding: 8px 12px;
    
}

 a:link, a:visited{
    font-weight: bolder;
    color: rgb(245, 201, 4);
    
    
}
#area-cabeçalho a:hover{
    color: rgb(245, 201, 4);
    background: white;
    
}

a:hover{
    text-decoration: underline;

}


a:active{

}
body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

h1{
    font-size: 2.5em;
    color: aliceblue;
}

h2{
    color: #f7b600;
}

h3{
    padding: 5px;
    color: #272727;
    background: #8d8888;
}

img{
    padding-top: 1em;
}


#area-cabeçalho{
    background: rgb(245, 201, 4);
    text-align: center;
    padding: 20px;
}

#area-logo{
    padding: 1em;
    font-weight: bolder;
}
#area-menu{ 
    padding: 1em;
    
}

#area-principal{
    padding: 15px;
   
    width: 920px;
    margin: 0 auto;
    
}

#postagens{
    float: left;
    
    width: 660px;
}

#title{
    color: rgb(245, 201, 4);
}

#lateral{
    width: 240px;
    float: right;
   
}

#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
}

.black{
    color: #4e4e4e;
    font-weight: bolder;
}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    
}

.data-post{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.conteudo-lateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px; 
}

.postagem-lateral{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}